<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="stylesheet" href="css/index.min.css">
</head>
<body>
    {% include 'app/modules/_header/_header.html' %}
    
    <main class="main">
        {% include 'app/modules/_top-slider/_top-slider.html' %}

        {% include 'app/modules/_product/_product.html' %}
        
        {% include 'app/modules/_lamp/_lamp.html' %}
        
        {% include 'app/modules/_design/_design.html' %}
        
        {% include 'app/modules/_promotional-video/_promotional-video.html' %}
        
        {% include 'app/modules/_articles/_articles.html' %}
        
        {% include 'app/modules/_members--special/_members--special.html' %}
    </main>
    
    {% include 'app/modules/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>
</html>